a {
    text-decoration: none;
    color: #fff;
}
.navigation {
    display: grid;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 34px;
    align-items: center;
    height: fit-content;
    align-items: flex-start;

    background: linear-gradient(180deg, rgba(11, 11, 13, 0.88) 0%, rgba(11, 11, 13, 0.8) 77.39%, rgba(11, 11, 13, 0.75) 90.62%, rgba(11, 11, 13, 0.11) 100%);    grid-template-columns: repeat(2, minmax(0, auto));
    @media (min-width: 640px) {
        grid-template-columns: repeat(3, minmax(0, auto));
    }
    .logo {
        cursor: pointer;
        font-family: "Sk-Modernist";
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        background: linear-gradient(82.87deg, #1498dd 2.84%, #0050c4 46.52%, #1498dd 87.05%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    .navList {
        display: none;
        justify-content: space-around;
        gap: 100px;
        @media (min-width: 640px) {
            display: flex;
        }
        a {
            font-family: "Sk-Modernist";
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
        }
    }
    .navList.active {
        display: flex;
        flex-direction: column;
        transition: all 0.5s;
       
    }
    .appleStore {
        display: none;
        justify-content: center;
        align-items: center;
        @media (min-width: 640px) {
            display: flex;
        }
        .title {
            .cta {
                font-family: "Sk-Modernist";
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                color: rgba(255, 255, 255, 0.7);
            }
            .market {
                margin-top: -10px;
                font-family: "Sk-Modernist";
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
            }
        }
    }
    .menueIcon {
        display: flex;
        justify-self: end;
        align-self: center;
        cursor: pointer;
        @media (min-width: 640px) {
            display: none;
        }
    }
}
